/baseapp/
/repo/
/scarlett_os/
/scarlett_os-0.1.*
.flatpak-builder/
*.done
*.bundle
__pycache__/
*.pyc
.vscode/
scarlett_os-base-repo/
scarlett_os-base/
scarlett_os-repo/
scarlett_os-local/
scarlett_os-repo.bak/
tree.log
