*$py.class
*,cover
*.DS_Store
*.DS_Store*
*.bak
*.box
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pem
*.pot
*.py[cod]
*.pyc
*.retry
*.so
*.spec
*.sublime-workspace
*.sw*
*.xterm
*gst-plugins-espeak-*
*~
.DS_Store
.Python
.bundle/
.cache
.coverage
.coverage.*
.eggs/
.envrc
.hypothesis/
.installed.cfg
.sublime-workspace
.tox/
.vagrant
.vagrant/
.vendor/
.vscode
.vscode/*
.vscode/tags
Gemfile.lock
__pycache__
__pycache__/
_debug/
ansible.cfg
ansible_variables.all
build/
config.json
coverage.xml
data
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env/
htmlcov/
include/
inventory
lib/
lib64/
library.bak
listener.py.diff
local-configure.yml
local/
nosetests.xml
openstack.yml
parts/
pip-delete-this-directory.txt
pip-log.txt
pocketsphinx
portaudio
pycairo*
pygobject*
sdist/
sphinxbase
src/
target/
temp*
var/
venv/
.bash_history
.dbusrc
SOCAT_PID
.viminfo
hi
.git
.gitignore
